@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto");
}
body {
    font-family: 'Roboto', 'Arial', sans-serif;
}
.lb {
    position: absolute;
    bottom: 0;
}
.rt {
    position: absolute;
    top: 72px;
    right: 0;
}
.ot_pr {
    text-align: right;
}
.ot_lt {
    text-align: left;
}
.head_footer_text {
    font-size: 24px;
    text-align: center;
}
.text1 {
    color: white;
    font-size: 24px;
    text-align: center;
}
.text2 {
    color: white;
    font-size: 24px;
}
.text3 {
    font-size: 24px;
    text-align: start;
}
.img_text {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    left: 5px;
    bottom: 5px;
}