@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
        url("../fonts/Roboto.woff2") format("woff2"),
        url("../fonts/Roboto.woff") format("woff"),
        url("../fonts/Robotothin.ttf") format('truetype');
}
body {
    font-family: 'Roboto', 'Arial', sans-serif;
}
.ot_pr {
    text-align: right;
    line-height: 19.07px;
    margin: 20px 2px 0 2px;
}
.ot_lt {
    text-align: left;
    line-height: 19.07px;
    margin: 20px 0 0 0;
}
.DRPH {
    margin: 20px 0 0 0;
}
header {
    font-size: 24px;
    text-align: center;
}
footer {
    font-size: 24px;
    text-align: center;
}
.text {
    margin: 0;
}
.text_w {
    color: white;
}
.text1 {
    text-align: center;
    line-height: 26.16px;
}
.text2 {
    position: relative;
}
.img_text {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
}
