main {
    display: grid;
    grid-template-columns: 241px 241px 241px;
    grid-template-rows: 241px 241px 155px 155px 241px 241px 155px 155px;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}
header {
    display: grid;
    width: 768px;
    height: 90px;
    background-color: #C4C4C4;
    align-content: center;
    margin: 10px 259px;
}
footer {
    display: grid;
    width: 768px;
    height: 90px;
    background-color: #C4C4C4;
    align-content: center;
    margin: 10px 259px;
}
main {
    display: grid;
}
.cube_img {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url('../images/1.jpg');
    background-size: 100%;
}
.cube_img::after {
    display: grid;
    content: "!";
    font-size: 36px;
    line-height: 61px;
    color: #f55e62;
    background-color: #ffffff;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    top: 35%;
    left: 35%;
    opacity: 0;
    transition: opacity 0.3s;
}
.cube_img:hover {
    filter: blur(4px);
}
.cube_img:hover::after {
    opacity: 1;
}
.cube1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #A2A9B7;
    font-size: 18.11px;
    padding: 10px;
}
.cube2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #A2A9B7;
    padding: 10px;
    align-content: end;
}
.cube3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #A2A9B7;
    padding: 10px;
    align-content: end;
}
.cube4 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #E8EBED;
    padding: 10px;
    align-content: end;
}
.cube5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #E8EBED;
    padding: 10px;
    align-content: end;
}
.cube6 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #90BCE8;
    padding: 10px;
    align-content: end;
}
.cube7 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #E8EBED;
    padding: 10px;
    align-content: end;
}
.cube8 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #FEBF26;
    padding: 10px;
    align-content: end;
}
.cube9 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #E3EBD3;
    padding: 10px;
    align-content: end;
}
.cube10 {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #E3EBD3;
    padding: 10px;
}
.cube11 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #FFAA87;
    padding: 10px;
    align-content: end;
}
.cube12 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #FFAA87;
    padding: 10px;
    align-content: end;
}
.cube13 {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F55E62;
    padding: 10px;
    align-content: end;
}
.cube14 {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #FFAA87;
    padding: 10px;
    align-content: end;
}
.cube15 {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #C7ABD4;
    grid-template-columns: 100%;
    padding: 10px;
    align-content: end;
}
